body,html{
    margin:0;
    padding:0;
    height:100vh;
}
#index-page{
    display:flex;
    margin:4% 5% 5% 5%;
    height:75%;
    text-align: center;

}

.store-front-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:50%;
    height:100%;
    background-repeat: no-repeat;
}
#left-store-display:hover{
    transform-origin: left center;
    transform: scaleX(1.25);
}
#right-store-display:hover{
    transform-origin: right center;
    transform: scaleX(1.25);
}

.font-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}
#square-font-background{
    background-image: url("../asset/font-background/square\(1\).jpg");
    width:400px;
    height:222px;
}

#circle-font-background{
    background-image: url("../asset/font-background/circle3.png");
    width:400px;
    height:400px;
}

#index-footer{
    display: block;
    position: relative;
    width:100%;
    height:25%;
    bottom: 0px;
    background-color: blueviolet;
    
}
