body,html{
    margin:0;
    padding:0;
    height:100vh;
}
main{
    display:flex;
    margin:4% 5% 5% 5%;
    height:75%;
    text-align: center;

}
main div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 197, 46);
    width:50%;
    height:100%;
    flex-direction: column;

}
main div p{
    line-height: 0px;
}
main div p.name{
    font-size:50px;
}
main div p.location{
    font-size:30px;


}
footer{
    display: block;
    position: fixed;
    width:100%;
    height:10%;
    margin:0;
    bottom: 0px;
    background-color: blueviolet;
    
}
