body,html{
    margin:0;
    padding:0;
    height:100vh;
}
main{
    display:flex;
    margin:4% 5% 5% 5%;
    height:75%;
    text-align: center;

}
main div{
    
    background-color: rgb(22, 197, 46);
    width:50%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;

}
#left-store-display img{

}
#right-store-display img{
    width:370px;
    height:350px;
    position: absolute;
    z-index:0;
    left:2px;
}
#right-store-display p{
    position: absolute;
    left :-3000px;
}
footer{
    display: block;
    position: fixed;
    width:100%;
    height:10%;
    margin:0;
    bottom: 0px;
    background-color: blueviolet;
    
}

